<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p>
  <strong>Name:</strong>
  <%= @article.user.name %>
</p>

<%= link_to 'Edit', edit_vue_article_path(@article) %> |
<%= link_to 'Back', vue_articles_path %>
