<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <%= stylesheet_bundle_tag 'app' %>
    <%= javascript_bundle_tag 'app' %>

    <%= Gon::Base.render_data %>

    <script>
      gon.flashJson = <%= raw Hash[flash.map{|k,v| [k,ERB::Util.h(v)] }].to_json %>;
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
