<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

    <%= stylesheet_bundle_tag 'app' %>
    <%= javascript_bundle_tag 'app' %>

    <%= Gon::Base.render_data(nonce: content_security_policy_nonce, camel_case: true, camel_depth: 4) %>
    <%= javascript_tag nonce: true do -%>
      gon.flashJson = <%= raw Hash[flash.map{|k,v| [k,ERB::Util.h(v)] }].to_json %>;
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
